.NewFilmCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 20px 50px 20px 0px;
}
.NewFilmCard .container {
  display: flex;
  gap: 20px;
  width: 86.5%;
}
.NewFilmCard .container .item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}

.NewFilmCard .container .item figure img {
  width: 270px;
  height: 340px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.NewFilmCard .container .item .container {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 20px 0 #fbbd61;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.overlay button {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: 0.5s ease;
}
.overlay .content {
  position: absolute;
  top: 38%;
  left: 27%;
}
.overlay .content .icon {
  font-size: 27px;
  display: none;
  width: 80px;
  height: 80px;
  color: #fff;
}
.overlay .content p {
  font-size: 13px;
  display: none;
  margin-bottom: 10px;
  cursor: pointer;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}
.overlay button:hover {
  border-color: white;
}

.container:hover .overlay::before {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.container:hover .content::before {
  display: block;
}
.container:hover .overlay button {
  opacity: 1;
}

.NewFilmCard .container .item .title {
  font-size: 18px;
  width: 270px;
  color: #4a4a4a;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: Roboto Condensed, latin-ext;
  font-weight: 300;
}
.NewFilmCard .container .item .readMore {
  width: 270px;
  height: 340px;
  position: absolute;
  z-index: 110;
  bottom: 123px;
}
.NewFilmCard .container .item .readMore .element {
  z-index: 111;
  position: relative;
}

.NewFilmCard .container .item .stars .star {
  color: #fbbd61;
  width: 18px;
  font-size: 16px;
  margin-right: 5px;
}
