.NewFilmCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 20px 50px 20px 0px;
}
.NewFilmCard .container {
  display: flex;
  gap: 20px;
  width: 80%;
}
.NewFilmCard .container .item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}
.NewFilmCard .container .item:hover .readMore {
  position: absolute;
  z-index: 1;
  display: flex;
  transition: 0.3s;
  transition-delay: 0.1s;
  width: 270px !important;
  height: 340px !important;
  z-index: 110;
  bottom: 65px;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
  opacity: 0.9;
  transform: skewX(30deg);
}
.NewFilmCard .container .item:hover .readMore {
  width: 270px;
  height: 340px;
  opacity: 1;
  position: absolute;
  bottom: 64px;
  left: 0;
}
.NewFilmCard .container .item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 20px 0 #fbbd61;
  /* background-color: #fbbd61; */
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.5s ease;
}
.NewFilmCard .container .item figure img {
  width: 270px;
  height: 340px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.NewFilmCard .container .item .title {
  font-size: 18px;
  width: 270px;
  color: #4a4a4a;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: Roboto Condensed, latin-ext;
  font-weight: 300;
}
.NewFilmCard .container .item .readMore {
  width: 270px;
  height: 340px;
  position: absolute;
  z-index: 110;
  bottom: 123px;
}
.NewFilmCard .container .item .readMore .element {
  z-index: 111;
  position: relative;
}

.NewFilmCard .container .item .stars .star {
  color: #fbbd61;
  width: 18px;
  font-size: 16px;
  margin-right: 5px;
}
