* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage .trailer .container .mySwiper .SwiperSlide .SwiperItem .image {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #000;
  background-position: center;
  background-size: cover;
  position: relative;
}

.homePage .trailer .container .mySwiper .SwiperSlide .SwiperItem .item {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}
.homePage .trailer .container .mySwiper .SwiperSlide .SwiperItem .item .title {
  color: #fbbd61;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-transform: uppercase;
}
.homePage .trailer .container .mySwiper .SwiperSlide .SwiperItem .item h1 {
  font-size: 52px;
  font-weight: 300;
  padding: 0;
  animation: Heading 0.5s 0.5s forwards;
  letter-spacing: 3px;
  margin-top: 10px;
  color: #fff;
  border: none;
  font-family: Roboto Condensed, latin-ext;
  font-weight: 300;
}

.homePage
  .trailer
  .container
  .mySwiper
  .SwiperSlide
  .SwiperItem
  .item
  .description {
  font-size: 18px;
  color: #fff;
  margin: 10px 0;
  width: 700px;
}
.homePage
  .trailer
  .container
  .mySwiper
  .SwiperSlide
  .SwiperItem
  .item
  .buttons {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.42857143;
}
.homePage
  .trailer
  .container
  .mySwiper
  .SwiperSlide
  .SwiperItem
  .item
  .buttons
  .certificate {
  font-size: 13px;
  font-weight: bold;
  line-height: 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  cursor: pointer;
}

.homePage
  .trailer
  .container
  .mySwiper
  .SwiperSlide
  .SwiperItem
  .item
  .buttons
  .button {
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  width: auto;
  padding: 15px 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  border-width: 2px;
  border-radius: 30px;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}

.homePage
  .trailer
  .container
  .mySwiper
  .SwiperSlide
  .SwiperItem
  .item
  .buttons
  .button
  .play {
  width: 20px;
  height: 10px;
}
.homePage .newMovies {
  display: flex;
  flex-direction: column;
}
.homePage .newMovies .container {
  width: 80%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.homePage .newMovies .container .top h2 {
  font-size: 18px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  margin: 20px 0px 20px 80px;
  color: #ec7532;
  font-family: Roboto Condensed, latin-ext;
  font-weight: 300;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  width: 80vw;
}
.homePage .newMovies .container .top h2::after {
  position: absolute;
  right: auto;
  bottom: -1px;
  display: block;
  width: 125px;
  height: 4px;
  content: "";
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}
