.content .image {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #000;
  background-position: center;
  background-size: cover;
  position: relative;
}

.content .item {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}
.content .item .title {
  color: #fbbd61;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-transform: uppercase;
}
.content .item h1 {
  font-size: 52px;
  font-weight: 300;
  padding: 0;
  animation: Heading 0.5s 0.5s forwards;
  letter-spacing: 3px;
  margin-top: 10px;
  color: #fff;
  border: none;
  font-family: Roboto Condensed, latin-ext;
  font-weight: 300;
}

.content .item .description {
  font-size: 18px;
  color: #fff;
  margin: 10px 0;
  width: 700px;
}

.content .item .buttons {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.42857143;
}

.content .item .buttons .certificate {
  font-size: 13px;
  font-weight: bold;
  line-height: 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  cursor: pointer;
}

.content .item .buttons .button {
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  width: auto;
  padding: 15px 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  border-width: 2px;
  border-radius: 30px;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}

.content .item .buttons .button .play {
  width: 20px;
  height: 10px;
}

.synopsis {
  padding-top: 75px;
  padding-bottom: 75px;
  border-width: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.synopsis .container {
  width: 80%;
}

.container .heading h2 {
  color: #ec7532;
  font-family: Roboto Condensed, latin-ext;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  line-height: 1.4em;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #d8d8d8;
}
.container .heading h2::before {
  content: "";
  position: absolute;
  right: auto;
  bottom: -1px;
  display: block;
  width: 125px;
  height: 4px;
  background: linear-gradient(to right, #ec7532 0%, #fbbd61 100%);
}
.container .info {
  margin: 20px 0px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.info .left {
  padding-right: 20px;
}
.info .left img {
  width: 570px;
  height: 340px;
}

.info .left .share {
  margin: 21px 0px;
  cursor: pointer;
}

.info .left .share span {
  line-height: 40px;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  padding-top: 3px;
  text-align: center;
  border: solid 2px #d8d8d8;
  border-radius: 50%;
}
.info .left .share span .icon {
  color: #ec7532;
}

.info .right .title {
  font-family: Roboto Condensed, latin-ext;
  font-size: 24px;
  letter-spacing: 1px;
  color: #101010;
  line-height: 1.4em;
  position: relative;
  margin: 0 0 10px 0;
  font-weight: 300;
}

.info .right .description {
  color: #717171;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.42857143;
  margin: 0 0 20px 0;
  width: 565px;
  font-size: 16px;
}
.info .right .text {
  width: 565px;
  color: #717171;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.42857143;
  margin: 0 0 20px 0;
  font-size: 16px;
}
.info .right .movieInfo {
  margin: 25px 0;
  padding: 0;
  list-style: none;
}
.right .movieInfo li {
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-family: "Roboto Condensed", sans-serif;
}
.right .movieInfo li span {
  font-size: 12px;
  color: #717171;
}
.right .movieInfo li i {
  font-size: 12px;
  font-style: normal;
  display: inline-block;
  width: 115px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
